.card-container2 {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  transition: transform 0.25s ease-out;
  width: 1000px;
  margin: 0 auto;
}

.card-container2 img {
  width: 300px;
}
